@using FitnessApp.Services.Contracts;
@using System.Security.Claims;
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@inject IGoalService goalService
@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
    string id = string.Empty;

    if (User != null)
    {
        id = User.FindFirstValue(ClaimTypes.NameIdentifier);
    }
    var goals = await goalService.GetGoalsWithinThreeDays(id);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FitnessApp.Web.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FitnessApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="dietDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Diet
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dietDropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Diet" asp-action="GetAll">All Diets</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a id="addDietOption" class="dropdown-item" asp-area="" asp-controller="Diet" asp-action="GetCreateModel">Add Diet</a>
                                }
                                @if (isAuthenticated)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Diet" asp-action="GetMyDiets">My Diets</a>
                                }
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="workoutDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Workout
                            </a>
                            <div class="dropdown-menu" aria-labelledby="workoutDropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Workout" asp-action="GetAll">All Workouts</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a id="addWorkoutsOption" class="dropdown-item" asp-area="" asp-controller="Workout" asp-action="GetCreateModel">Add Workouts</a>
                                }
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="exerciseDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Exercise
                            </a>
                            <div class="dropdown-menu" aria-labelledby="exerciseDropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Exercise" asp-action="GetAll">All Exercises</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a id="addExerciseOption" class="dropdown-item" asp-area="" asp-controller="Exercise" asp-action="GetCreateModel">Add Exercise</a>
                                }
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="goalDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Goal
                            </a>
                            <div class="dropdown-menu" aria-labelledby="exerciseDropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Goal" asp-action="GetAll">Goals</a>
                                @if (isAuthenticated)
                                {
                                    <a id="addExerciseOption" class="dropdown-item" asp-area="" asp-controller="Goal" asp-action="GetCreateModel">Add Goal</a>
                                }
                            </div>
                        </li>
                    </ul>

                    @if (User.IsInRole("Admin"))
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link users" asp-area="" asp-controller="User" asp-action="GetAll">Users</a>
                            </li>
                        </ul>
                    }

                    @if (isAuthenticated)
                    {
                        <div class="btn-group">
                            <button id="notifications-button" type="button" class="btn btn-sm dropdown-toggle text-dark" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Notifications <span class="badge bg-danger">@goals.Count()</span>
                            </button>
                            <div id="notifications-dropdown" class="dropdown-menu" aria-labelledby="notifications-button">
                                @if (goals.Any())
                                {
                                    <h6 class="dropdown-header">Goals within Three Days</h6>

                                    @foreach (var goal in goals)
                                    {
                                        var textColor = goal.TargetDate.Date < DateTime.Today ? "text-danger" : "text-green";
                                        <a class="dropdown-item" href="/Goal/GetAll"><small class="@textColor">Goal Type:</small> @goal.GoalType</a>
                                        <a class="dropdown-item" href="/Goal/GetAll"><small class="@textColor">Target Date:</small> @goal.TargetDate.ToShortDateString()</a>

                                        <form class="d-flex justify-content-center" asp-controller="Goal" asp-action="Complete" asp-route-id="@goal.GoalId">
                                            <input type="submit" value="Complete" class="btn btn-success btn-sm" />
                                        </form>
                                        <div class="dropdown-divider"></div>
                                    }
                                }
                                else
                                {
                                    <h6 class="dropdown-header">No Goals within Three Days</h6>
                                }
                            </div>
                        </div>
                    }


                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    &copy; @DateTime.UtcNow.Year - FitnessApp
                </div>
                <div class="col text-end">
                    @if (User.IsInRole("Admin"))
                    {
                        <p>Admin powers!</p>
                    }
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Hide "Add Diet" option if the user is not in the "Admin" role
        var addDietOption = document.getElementById('addDietOption');
        if (addDietOption && !@User.IsInRole("Admin")) {
            addDietOption.style.display = 'none';
        }

        // Hide "Add Workouts" option if the user is not in the "Admin" role
        var addWorkoutsOption = document.getElementById('addWorkoutsOption');
        if (addWorkoutsOption && !@User.IsInRole("Admin")) {
            addWorkoutsOption.style.display = 'none';
        }

        function goBack() {
            window.history.back();
        }

        // Hide notifications dropdown initially
        document.getElementById('notifications-dropdown').style.display = 'none';

        // Toggle the visibility of the notifications dropdown on click
        document.getElementById('notifications-button').addEventListener('click', function () {
            var dropdown = document.getElementById('notifications-dropdown');
            if (dropdown.style.display === 'none') {
                dropdown.style.display = 'block';
            } else {
                dropdown.style.display = 'none';
            }
        });
        var notificationsDropdown = document.getElementById('notifications-dropdown');

        // Hide notifications dropdown initially
        notificationsDropdown.style.display = 'none';

        // Show notifications dropdown on hover
        document.getElementById('notifications-button').addEventListener('mouseenter', function () {
            notificationsDropdown.style.display = 'block';
        });

        // Hide notifications dropdown when mouse leaves the dropdown area
        notificationsDropdown.addEventListener('mouseleave', function () {
            notificationsDropdown.style.display = 'none';
        });
    </script>
</body>
</html>