@model IEnumerable<GoalsViewModel>
@{
    ViewBag.Title = "All Goals";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center">
    <div class="input-group mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Search goals">
        <button id="searchButton" class="btn btn-primary" type="button">Search</button>
    </div>
</div>

<div class="text-center row" id="mainView">
    @if (Model.Any())
    {
        @foreach (var goal in Model)
        {
            <div class="card col-4 @(!goal.isCompleted ? "non-completed" : "")" style="width: 20rem; margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title mt-1">@goal.Description</h5>
                    <p class="mb-0">Goal Type: @goal.GoalType</p>
                    <p class="mb-0">Target Weight: @goal.TargetWeight</p>
                    <p class="mb-0">Target Date: @goal.TargetDate.ToString("yyyy-MM-dd")</p>
                </div>

                <div class="d-grid gap-2">
                    @if (!goal.isCompleted)
                    {
                        <form class="input-group-sm mb-3" asp-controller="Goal" asp-action="Complete" asp-route-id="@goal.GoalId">
                            <input type="submit" value="Complete" class="btn btn-success btn-sm w-100" />
                        </form>
                    }

                    <form class="input-group-sm mb-3" asp-controller="Goal" asp-action="Edit" asp-route-id="@goal.GoalId">
                        <input type="submit" value="Edit" class="btn btn-warning btn-sm w-100" />
                    </form>

                    <form class="input-group-sm mb-3" asp-controller="Goal" asp-action="RemoveGoal" asp-route-id="@goal.GoalId">
                        <input type="submit" value="Remove" class="btn btn-danger btn-sm w-100" />
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <p>You don't have goals yet.</p>
    }
</div>

<div class="text-center">
    <button id="btnCompletedGoals" class="btn btn-primary">Go to Completed Goals</button>
</div>

<div id="completedGoalsContainer" class="mt-4"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            var mainView = $("#mainView"); // Store mainView element for easier access
            var btnCompletedGoals = $("#btnCompletedGoals"); // Store the "Go to Completed Goals" button element

            // Search button click event
            $("#searchButton").on("click", function () {
                executeSearch();
            });

            // Search input enter key press event
            $("#searchInput").on("keypress", function (event) {
                if (event.which === 13) { // Enter key
                    executeSearch();
                }
            });

            // Back button click event
            $(document).on("click", "#btnBack", function () {
                showSearchBar();
                loadAllGoals();
            });

            // Completed goals button click event
            btnCompletedGoals.on("click", function () {
                // Hide the search bar
                $(".input-group").hide();

                loadCompletedGoals();
                btnCompletedGoals.hide(); // Hide the "Go to Completed Goals" button
            });

            // Function to show the search bar
            function showSearchBar() {
                $(".input-group").show();
            }

            // Function to execute the search
            function executeSearch() {
                var searchWords = $("#searchInput").val().trim().toLowerCase();

                if (searchWords === "") {
                    return; // ne pravim nishto ako nqma duma
                }

                $.ajax({
                    url: "@Url.Action("SearchGoals")",
                    type: "GET",
                    data: { searchWords: searchWords },
                    success: function (data) {
                        mainView.hide(); // Hide the main view
                        $("#completedGoalsContainer").html(data);
                        $("#completedGoalsContainer").append('<button id="btnBack" class="btn btn-secondary mt-4">Back</button>'); // Position the back button at the bottom
                        // Hide the "Go to Completed Goals" button
                        btnCompletedGoals.hide();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }

            // Function to load all goals
            function loadAllGoals() {
                mainView.show(); // Show the main view
                $("#completedGoalsContainer").empty();
                btnCompletedGoals.show(); // Show the "Go to Completed Goals" button
            }

            // Function to load completed goals
            function loadCompletedGoals() {
                $.ajax({
                    url: "@Url.Action("CompletedGoals")",
                    type: "GET",
                    success: function (data) {
                        mainView.hide(); // Hide the main view
                        $("#completedGoalsContainer").html(data);
                        $("#completedGoalsContainer").append('<button id="btnBack" class="btn btn-secondary mt-4">Back</button>'); // Position the back button at the bottom
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }

            // Initial load of all goals
            loadAllGoals();
        });
    </script>
}