@model IEnumerable<GoalsViewModel>
@{
    ViewBag.Title = "All Goals";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center">
    <div class="input-group mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Search goals">
        <button id="searchButton" class="btn btn-primary" type="button">Search</button>
    </div>
</div>

<div class="text-center row" id="mainView">
    @if (Model.Any())
    {
        @foreach (var goal in Model)
        {
            <div class="card col-4 @(!goal.isCompleted ? "non-completed" : "")" style="width: 20rem; margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title mt-1">@goal.Description</h5>
                    <p class="mb-0">Goal Type: @goal.GoalType</p>
                    <p class="mb-0">Target Weight: @goal.TargetWeight</p>
                    <p class="mb-0">Target Date: @goal.TargetDate.ToString("yyyy-MM-dd")</p>
                </div>

                <div class="d-grid gap-2">
                    @if (!goal.isCompleted)
                    {
                        <form class="input-group-sm mb-3" asp-controller="Goal" asp-action="Complete" asp-route-id="@goal.GoalId">
                            <input type="submit" value="Complete" class="btn btn-success btn-sm w-100" />
                        </form>
                    }

                    <form class="input-group-sm mb-3" asp-controller="Goal" asp-action="Edit" asp-route-id="@goal.GoalId">
                        <input type="submit" value="Edit" class="btn btn-warning btn-sm w-100" />
                    </form>

                    <form class="input-group-sm mb-3" asp-controller="Goal" asp-action="RemoveGoal" asp-route-id="@goal.GoalId">
                        <input type="submit" value="Remove" class="btn btn-danger btn-sm w-100" />
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <p>You don't have goals yet.</p>
    }
</div>

<div class="text-center">
    <button id="btnCompletedGoals" class="btn btn-primary mt-4">Get Completed Goals</button>
</div>
<div id="completedGoalsContainer" class="mt-4">
</div>

<div class="text-center">
    <button id="btnBack" class="btn btn-primary mt-4" style="display: none;">Back</button>
</div>

@section scripts {
    <script>
        var mainView = $("#mainView");
        var completedGoalsContainer = $("#completedGoalsContainer");
        var btnCompletedGoals = $("#btnCompletedGoals");
        var btnBack = $("#btnBack");

        function showMainView() {
            mainView.show();
            completedGoalsContainer.hide();
            btnCompletedGoals.show();
            btnBack.hide();
            $(".input-group").show(); // Show the search bar
        }

        function showCompletedGoals() {
            mainView.hide();
            completedGoalsContainer.show();
            btnCompletedGoals.hide();
            btnBack.show();
            $(".input-group").hide(); // Hide the search bar
        }

        btnBack.on("click", function () {
            showMainView();
        });

        btnCompletedGoals.on("click", function () {
            $.ajax({
                url: "@Url.Action("CompletedGoals", "Goal")",
                type: "GET",
                success: function (data) {
                    console.log("Completed Goals success:", data);
                    showCompletedGoals();
                    completedGoalsContainer.html(data);
                },
                error: function (xhr, status, error) {
                    console.log("Completed Goals error:", error);
                }
            });
        });

        $("#searchButton").on("click", function () {
            executeSearch();
        });

        $("#searchInput").on("keypress", function (event) {
            if (event.which === 13) { // Enter key
                executeSearch();
            }
        });

        function executeSearch() {
            var searchWords = $("#searchInput").val().trim().toLowerCase();

            if (searchWords === "") {
                return;
            }

            $.ajax({
                url: "@Url.Action("SearchGoals")",
                type: "GET",
                data: { searchWords: searchWords },
                success: function (data) {
                    console.log("Search success:", data);
                    mainView.html(data);
                },
                error: function (xhr, status, error) {
                    console.log("Search error:", error);
                }
            });
        }

        showMainView();
    </script>
}